body{
	background-repeat:no-repeat;
	background-size:cover;
	overflow-y:scroll;
	height:100vh;
	
}
.faq_container{
	padding-top: 110px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.image_flex{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: auto;
	width: 80%;
	justify-content: space-evenly;
}
.title_image{
	margin: auto;
	width: 300px;
}
.faq_flex{
	display:flex;
	flex-direction: row;
	padding: 0px 0px 60px 0px;
}
.faq_image{
	width:450px;
	padding: 5px;
	margin-top: 30px;
}
.mt02{
	margin-top: 30px;
}
.random_faq{
	height: 150px;
    position: absolute;
    z-index: 1;
    right: -50px;
    top: -50px;
}
.random_faq_1{
	position: absolute;
    bottom: -110px;
    z-index: 1;
}
@media screen and (max-width : 1700px) {
	.faq_image{
		width:350px;
		padding: 5px;
	}
}
@media screen and (max-width : 1320px) {
	.faq_image{
		width:250px;
		padding: 5px;
	}
}
@media screen and (max-width : 940px) {
	.random_faq{
		height: 125px;
		top: -25px;
	}
}
@media screen and (max-width : 768px) {
	.faq_image{
		width:300px;
		padding: 5px;
	}
	body{
		background-attachment:fixed;
	}
	.faq_image{
		margin-top: 10px;
	}
	.random_faq{
		height: 125px;
	}
}

.faq_last_div{
	background-image: url('../../Assets/faqImages/faqBG-01-01.png');
	height: 80px;
	background-size: cover;
}
.landing_last_sociall {
    display: flex;
    height: 100px;
    margin-top: -5px;
    justify-content: center;
    align-items: center;
    background-color: #231F20;
}
.social_media {
    width: 50px;
    margin-right:15px ;
}
