.voting_container{
    display: flex;
    flex:1;
    background-color: aqua;
    height: 100vh;
}
.voting_container_left{
    flex:0.3;
    background-color: rgb(139, 158, 158);
    height: 100vh;
    padding: 20px;
    border-right: 2px solid white;
}
.voting_container_right{
    flex:1;
    background-color: rgb(23, 26, 26);
    height: 100vh;
    background-size: cover;
}
.voting_container_left_title {
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
}
.voting_container_left_title span {
    font-size: 24px;
    font-weight: bold;
    color: orange;
    letter-spacing: 1.5px;
    font-family: 'RUBIKMONOONE-REGULAR';
    text-align: center;
    text-shadow: 0px 5px 5px black;
}
.voting_container_right_title {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}
.voting_container_right_title span {
    font-size: 28px;
    font-weight: bold;
    font-family: 'RUBIKMONOONE-REGULAR';
    letter-spacing: 2px;
    text-align: center;
    text-shadow: 0px 5px 5px gray;
}
.category_image{
    width: 12vw;

    
}
.category_image:hover {
    cursor: pointer;
    width: 12vw;
        border: 1px solid #9b9b9b;
        border-radius: 10px;
        background-color: #747474;
        box-shadow: 0px 1px 5px white;
}
.category_image_selected {
        width: 12vw;
        border: 1px solid #9b9b9b;
        border-radius: 10px;
        background-color: #747474;
        box-shadow: 0px 1px 5px white;
}
.voting_category {
    margin-top: 20px;
}
.voting_category_row_1 {
    display: flex;
    justify-content: center;
    margin-top: 10px
}
.ant-drawer-body {
    padding: 0 !important;
}
.voting_container h1 {
    font-family: 'RUBIKMONOONE-REGULAR';
    font-size: 26px;
    text-align: center;
    color:yellow;
    text-shadow: 0px 5px 5px black;
}
.floating_btn {
    height:70px;
    width:70px;
    border-radius:100px;
    background:rgb(128, 128, 128);
    border:2px solid transparent;
    box-shadow: 0 0 5px black ;
    position:fixed;
    bottom:5vh;
    left:2vh;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}
.voting_container_favourite {
    padding: 20px;
    height: 75vh;
    /* padding-bottom: 100px; */
    overflow-y: scroll;
}
.voting_container_favourite > div {
   
    padding-bottom: 80px;
}
.favourite_container {
    height: 74vh;
    width: auto;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}
.favourite_container_participant {
    position: relative;
    height: 250px;
    width: 250px;
    margin-bottom: 20px;
}
.voted {
    position: absolute;
    top: 15%;
    right: 20%;
}
.voted_showcase {
    position: absolute;
    bottom: 1%;
    right: 10%;
}
.favourite_container::-webkit-scrollbar {
    display: none;
}
.participant_img{
    height: 250px;
    width: 250px;
    margin-top: 15px;
}
.participant_img_1{
    height: 250px;
    width: 250px;
    margin-top: 15px;
}
.participant_img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transform-origin: center;
}
.participant_img:hover+.voted {
    cursor: pointer;
    transform: scale(1.1);
    transform-origin: center;
}
.participant_img:hover+.voted_showcase {
    cursor: pointer;
    transform: scale(1.1);
    transform-origin: center;
}
@media only screen and (max-width: 750px) {
    .category_image{
        width: 25vw;
        
    }
    .voting_container_right{
    flex:1;
    background-color: rgb(23, 26, 26);
    height: 100vh;
    overflow: hidden;
    background-size: cover;
}
    
    .voting_category_row_1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .category_image_selected {
        width: 25vw;
        border:1px solid red;
        background-color: burlywood;
    }
    .voting_category {
        margin-top: 20px;
        height: 80vh;
        overflow: scroll;
    }
    .voting_container_right_title {
        flex-direction: column;
        justify-content: center;
        height: auto;
    }
    .voting_container_right_title span {
        font-size: 22px;
    }
}