body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: "GothamBlack";
  src: local("GothamBlack"),
   url('../src/Assets/fonts/GOTHAM-BLACK.OTF') format("truetype");
  font-weight: 500;
  }
@font-face {
  font-family: "GothamBold";
  src: local("GothamBold"),
    url("../src/Assets/fonts/GOTHAM-BOLD.OTF") format("truetype");
  font-weight: bold;
  }

  